<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<aop:aspectj-autoproxy />
	<context:component-scan base-package="io.github.ningyu.redis" />
	
	<bean id="redisClient" class="io.github.ningyu.redis.client.impl.RedisClientImpl">
		<property name="jedisSentinelPoolFactory" ref="jedisSentinelPoolFactory" />
		<property name="keySeparator" value="${redis.keySeparator}" />
	</bean>

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${redis.pool.maxTotal}" />
		<property name="maxIdle" value="${redis.pool.maxIdle}" />
		<property name="minIdle" value="${redis.pool.minIdle}" />
		<property name="testOnBorrow" value="${redis.pool.testOnBorrow}" />
		<property name="testOnReturn" value="${redis.pool.testOnReturn}" />
	</bean>
	
	<bean id="jedisSentinelPoolFactory" class="io.github.ningyu.redis.pool.JedisSentinelPoolFactory">
		<property name="poolConfig" ref="jedisPoolConfig" />
		<property name="masterName" value="${redis.mastername}" />
		<property name="sentinels" value="${redis.sentinels}" />
		<property name="timeout" value="${redis.timeout}" />
		<property name="password" value="${redis.password}" />
	</bean>

</beans>